service: insurai-policy-analyzer

provider:
  name: aws
  region: eu-north-1
  environment:
    APP_ENV: prod

plugins:
  - ./vendor/bref/bref

functions:
  web:
    handler: public/index.php
    runtime: php-82-fpm
    timeout: 28
    events:
      - httpApi: '*'

  console:
    handler: bin/console
    runtime: php-82-console
    timeout: 120

package:
  patterns:
    - '!assets/**'
    - '!node_modules/**'
    - '!public/build/**'
    - '!tests/**'
    - '!var/**'
    - 'var/cache/prod/**'
    - 'public/build/entrypoints.json'
    - 'public/build/manifest.json'
